body {
  background-image: url("../media/pexels-francesco-ungaro-169-M.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
  background-color: #E8E8E8;
  min-height: 100vh;
}

.exercise-header {
  margin: 2em;
  text-align: center;
  list-style-position: inside;
}

.exercise-rules {
  text-align: left;
}

#splash-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-header {
  font-size: 1.2em;
}

#exercise {
  width: 600px;
  margin: 10px auto;
  text-align: left;
}