#stage {
    width: 600px;
    height: 470px;
    position: relative;
    margin: 10px auto;
    text-align: left;
}

canvas { position: absolute }
#game-foreground {
    z-index: 2;
    border: 1px;
}
#game-background {
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}

.exercise-button {
    width: 200px;
    justify-content: center;
    margin: 10px auto;
    display: flow;
}